# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Redis
*.rdb
*.log

# MongoDB data
section5_exam/requirements/mongo/data/
section5_exam/requirements/redis/data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
